    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Get Lucid</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
   

    <% if (sleepStatus === 'w') {%>
    <link href="/wake.css" rel="stylesheet">

    <%} else {%>

    <link href="/sleep.css" rel="stylesheet">

    <%}%>
    </head>

<body>
    <% include ../partials/nav.ejs%>

<div class='container'>
    <h2>Edit Dream</h2>

    <form class='edit-form' action='/dreamjournal/<%=dream.id%>/<%=sleepStatus%>/?_method=PUT' method='POST'>
 
        <div class='form-group'>
            <span>Title</span>
            <input class='form-control' type="text" name="title" value='<%=dream.title%>'>
        </div>
        <br>
        <div class='form-group'>
            <span>Content</span>
            <input class='form-control this' type="text" name="content" value='<%=dream.content%>'></input>
        </div>
        <br>
         <div class='form-group'>
            <span>Tags</span>
            <input class='form-control' type="text" name="tags" value='<%=dream.tags%>'>
            <small id='tagsHelp' class='form-text text-muted'>Add a dream tag</small>
        </div>
        <br>
            <input class='btn' type="submit" name="" value='Make Changes'>
            <a class='back btn' href='/dreamjournal/<%=sleepStatus%>'>Go Back</a>
    </form>
</div>

</body>
</html>