    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Get Lucid</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
   

    <% if (sleepStatus === 'w') {%>
    <link href="/wake.css" rel="stylesheet">

    <%} else {%>

    <link href="/sleep.css" rel="stylesheet">

    <%}%>
    </head>
    <body>
<% include ../partials/nav.ejs%>

<div class='container'>
        <h2>Edit Dream</h2>

    <div class='row'>
        <form class=
        'col s12' action='/dreamjournal/<%=dream.id%>/<%=sleepStatus%>/?_method=PUT' method='POST'>
            <div class='row'>
                <div class='input-field col 6'>
                <input type="text" name="title" value='<%=dream.title%>'>
                <label for="title">Title</label>
            </div>
            <div class='input-field col s12'>
                <input type="textarea" name="content" value='<%=dream.content%>'>
                <label class='content' for="content">Content</label>
    </div>

    <br>

    <div class='input-field'>
    <label for="tags">Tags</label>
    <input type="text" name="tags" value='<%=dream.tags%>'>
    </div>

    <br>
    <input type="submit" name="" value='Edit Dream'>
    </form>
</div>

    </body>
</html>