    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Get Lucid</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
   

    <% if (sleepStatus === 'w') {%>
    <link href="/wake.css" rel="stylesheet">

    <%} else {%>

    <link href="/sleep.css" rel="stylesheet">

    <%}%>
    </head>

    <body>
    <a href="/dreamjournal/<%=sleepStatus%>"><button>Go Back</button></a>
    <br>
    <div class = 'container'>
    <h1><%=dream.title%></h1>
    <p><%=dream.content%></p>
    <p>Tags: <%=dream.tags%></p>

        
    <form action="/dreamjournal/delete/<%=sleepStatus%>/<%=dream._id%>?_method=DELETE" method="POST">
    <input type='submit' name='delete' value='Delete'/>
    </form>


    <a href="/dreamjournal/<%=dream._id; %>/<%=sleepStatus%>/edit"><button>Edit</button></a>    
  
    
    
    </body>
</html>