    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Get Lucid</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
   

    <% if (sleepStatus === 'w') {%>
    <link href="/wake.css" rel="stylesheet">

    <%} else {%>

    <link href="/sleep.css" rel="stylesheet">

    <%}%>
    </head>
  <% include ../partials/nav.ejs%>

<%if(!currentUser) { %>
    <h1 class='error'>Please Login above to access your dream journal</h1>
<%} else {%>

    <body>
    <a class ='waves-effect waves-light btn' href="/dreamjournal/<%=sleepStatus%>">Go Back</a>
    <br>
<div class='card-container'>
    <div class = 'card'>
        <div class='card-body center'>
            <h5 class='card-title'><%=dream.title%></h5>
            <p class='card-text'><%=dream.date%></p>
            <p class='card-text'><%=dream.content%></p>
            <p class='card-text'><%=dream.tags%></p>
            <br>
            <div class='two-btns'>
                <div>
                    <a class='btn' href="/dreamjournal/<%=dream._id; %>/<%=sleepStatus%>/edit">Edit</a>
                </div>
                <div>
                    <form action="/dreamjournal/delete/<%=sleepStatus%>/<%=dream._id%>?_method=DELETE" method="POST">
                    <input class='btn' id='delete-btn' type='submit' name='delete' value='Delete'/>
                    </form>
                </div>
            </div>
        </div>
    </div>
            <% include ../partials/footer.ejs%>
</div>


  
<%}%>

    </body>
</html>